{% extends 'base.html' %}

{% block content %}

<div class="page-card">

    <div class="page-header">
        <h2>Create Travel Request</h2>
        <p>
            Create a new business trip request
        </p>
    </div>

    <form method="POST">

        <div class="mb-3">

            <label>
                Destination
            </label>

            <input
                type="text"
                name="destination"
                class="form-control"
                placeholder="e.g. Bangalore">

        </div>

        <div class="mb-3">

            <label>
                Purpose
            </label>

            <input
                type="text"
                name="purpose"
                class="form-control"
                placeholder="e.g. Client Meeting">

        </div>

        <div class="mb-3">

            <label>
                Start Date
            </label>

            <input
                type="date"
                name="start_date"
                class="form-control">

        </div>

        <div class="mb-3">

            <label>
                End Date
            </label>

            <input
                type="date"
                name="end_date"
                class="form-control">

        </div>

        <button
            type="submit"
            class="btn btn-success">

            Create Trip

        </button>

    </form>

</div>

{% endblock %}