{% extends 'base.html' %}

{% block content %}

<h2>Edit Expense</h2>

<form method="POST">

<div class="mb-3">

<label>Category</label>

<select
name="category"
class="form-control">

{% for category in categories %}

<option
{% if expense.category == category.category_name %}
selected
{% endif %}
>
{{ category.category_name }}
</option>

{% endfor %}

</select>

</div>

<div class="mb-3">

<label>Amount</label>

<input
type="number"
name="amount"
value="{{ expense.amount }}"
class="form-control">

</div>

<div class="mb-3">

<label>Date</label>

<input
type="date"
name="expense_date"
value="{{ expense.expense_date }}"
class="form-control">

</div>

<div class="mb-3">

<label>Description</label>

<textarea
name="description"
class="form-control">{{ expense.description }}</textarea>

</div>

<button class="btn btn-success">
Update Expense
</button>

</form>

{% endblock %}