{% extends 'base.html' %}

{% set page_title = "Edit Travel" %}

{% block content %}

<div class="page-card">

    <div class="page-header">

        <h2>Edit Trip</h2>

        <p>
            Update trip information
        </p>

    </div>

    <form method="POST">

        <div class="mb-3">

            <label>
                Destination
            </label>

            <input
                type="text"
                name="destination"
                class="form-control"
                value="{{ trip.destination }}">

        </div>

        <div class="mb-3">

            <label>
                Purpose
            </label>

            <input
                type="text"
                name="purpose"
                class="form-control"
                value="{{ trip.purpose }}">

        </div>

        <div class="mb-3">

            <label>
                Start Date
            </label>

            <input
                type="date"
                name="start_date"
                class="form-control"
                value="{{ trip.start_date }}">

        </div>

        <div class="mb-3">

            <label>
                End Date
            </label>

            <input
                type="date"
                name="end_date"
                class="form-control"
                value="{{ trip.end_date }}">

        </div>

        <div class="mb-3">

            <label>
                Status
            </label>

            <select
                name="status"
                class="form-select">

                <option value="Planned" {% if trip.status == "Planned" %}selected{% endif %}>
                    Planned
                </option>

                <option value="Ongoing" {% if trip.status == "Ongoing" %}selected{% endif %}>
                    Ongoing
                </option>

                <option value="Completed" {% if trip.status == "Completed" %}selected{% endif %}>
                    Completed
                </option>

            </select>

        </div>

        <button
            type="submit"
            class="btn btn-success">

            Update Trip

        </button>

    </form>

</div>

{% endblock %}